@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');

* {
    font-family: 'Muli', sans-serif;
}

.img-input-label {
    border: 1px solid rgb(207, 193, 193);
    padding: 3px;
    border-radius: 5px;
}

.input-image {
    max-width: 100%;
    height: auto;
    margin: 3px
}

/*
    Output Image
*/
.output-image {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;    
}

/*
    Cropped Image
*/
.cropped-image {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    height: auto;
    margin-bottom: 5px;
}

.cropped-image > img {
    width: 200px  !important;
    height: 100%  !important;
    margin-right: 5px;
    margin-left: 5px;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}