@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');

* {
    font-family: 'Muli', sans-serif;
}

.img-input-label {
    border: 1px solid rgb(207, 193, 193);
    padding: 3px;
    border-radius: 5px;
}

.input-image {
    width: 90%;
    height: 80%;
    margin: 3px
}

/*
    Output Image
*/
.output-image {
    margin-left: 20px;
    margin-right: 20px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: auto;

    
}


/*
    Cropped Image
*/
.cropped-image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 100%;
}
.cropped-image > img {
    width: 100px !important;
    height:100px  !important;
    margin-right: 5px;
    margin-left: 5px;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}